<!DOCTYPE html>
    <html>
        <head>
            <title>WorkBitApp</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
        </head>
        <body>


            <div id="navbar" class="bottom fixed-top">
                <div class="navbar-align">
                    <a href="/">WorkBit.app</a>
                    <a href="/services">Services</a>
                    <a href="/about">About</a>
                    <a href="">Contact</a>
                    <a href="register">Sign in</a>
                </div>
            </div>