<%- include ("partials/header") %>

<div class="about">
    <div class='about-intro'>
    <section class="container-fluid">
        <div class="row">
            <div class="col-6">
            <img class="img-fluid objectives-img" src="stylesheets/imgs/stormTroopersPosing.png">
        </div>
        <div class="col-6 objectives">
           <h1>Connecting freelancers and businesses by providing a multipurpose platform which enables hastle free exchanges</h1>
        </div>
        </div>
    </section>
</div>

<div class='about-intro1'>
    <section class="container-fluid">
        <div class="row">
            <div class="col-6 objectives1">
                <h1>Helping you work with ease </h1>
            </div>
            <div class="col-6">
                <img class="img-fluid objectives-img1" src="/stylesheets/imgs/help.jpg">
            </div>
        </div>
    </section>
    </div>

    <div class='about-intro2'>
        <section class="container-fluid">
            <div class="row">
                <div class="col-6">
                <img class="img-fluid objectives-img2" src="/stylesheets/imgs/outofourway.jpg">
            </div>
            <div class="col-6 objectives2">
               <h1>Going out of our way so that you don't have to!</h1>
            </div>
            </div>
        </section>
    </div>

    <div class='about-intro1'>
        <section class="container-fluid">
            <div class="row">
                <div class="col-6 objectives1">
                    <h1>Providing your business with more creative freedom by creating an extensive and diverse portfolio 
                        of the best in the business and enabling much easier collaborations </h1>
                </div>
                <div class="col-6">
                    <img class="img-fluid objectives-img3" src="https://i.redd.it/2hd31vhtby701.jpg">
                </div>
            </div>
        </section>
        </div>

        <div class='about-intro2'>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-6">
                    <img class="img-fluid objectives-img4" src="/stylesheets/imgs/connection.jpg">
                </div>
                <div class="col-6 objectives2">
                   <h1>Optimising your business budget by connecting you directly with individuals </h1>
                </div>
                </div>
            </section>
        </div>

        <div class='about-intro1'>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-6 objectives1">
                        <h1>And assisting freelancers in maximising their earning potential</h1>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid objectives-img5" src="/stylesheets/imgs/money.jpg">
                    </div>
                </div>
            </section>
            </div>
    

    <div class='about-intro3'>
    <section class="container-fluid">
        <div class="row">
            <div class="col-6"> 
                <img class="img-fluid objectives-img6" src="https://cdn.pixabay.com/photo/2017/02/08/09/44/starwars-2048262_960_720.jpg">
            </div>
            <div class="col-6 objectives3">
                <h1>Our Objectives</h1>
                <p>Stabilising the freelance industry</p>
               <p>Creating opportunities that drive both personal and industry growth</p>
               <p>Providing professional and reliable services</p>
               <p>Developing a creative community that celebrates productivity and progress</p>
               <p>Assist Business growth by maximisimg marketing collateral</p>
            </div>
        </div>
    </section>
    </div>

    
    <div class='about-intro4'>
        <section class="container-fluid">
            <div class="row">
                <div class="col-6 services">
                    <h1>SERVICES THAT WE PROVIDE</h1>
                    <p>ONSITE AND REMOTE PROJECT</p>
                    <p>PHOTOGRAPHY</p>
                    <p>VIDEOGRAPHY</p>
                    <p>GRAPHIC DESIGN</p>
                    <p>CONTENT CREATION</p>
                    <p>COPY WRITING</p>
                    <p>MARKETING MANAGEMENT</p>
                    <p>EMAIL MARKETING</p>
                    <p>WEB DEVELOPMENT</p>
                    <p>STUDIO BOOKING</p>
                    <p>ONLINE ART GALLERY</p>
                    <p>PRINTING</p>
                </div>
                <div class="col-6">
                    <img class="img-fluid objectives-img7" src="https://live.staticflickr.com/2669/3858117528_f524b43582_b.jpg">
                </div>
            </div>
        </section>
    </div>

<section id='home_section'>

    <div class='about-intro4'>
        <section class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid objectives-img8" src="/stylesheets/imgs/assist.jpg">
                </div>
                <div class="col-6 services">
                    <h3 class='contactUs'>Have any inquiries? Why not Contact Us!</h3>
                    <div class='contact'>
                    <p>Email: info@drurri.com</p>
                    <p>phone us : +27 73 566 9376</p>
                </div>
                    <div class='contact'>
                    <p>Instagram: Drurri.com</p>
                    <p>Facebook: Drurri.app</p>
                </div>
                </div>
            </div>
        </section>
    </div>
    
</section>

    




    
</div>

<%- include ("partials/footer") %>