<%- include ("partials/header") %>

<div class="about">
    <section class="container-fluid">
        <div class="row">
            <div class="col-6">
            <img class="img-fluid objectives-img" src="stylesheets/imgs/iphone.png">
        </div>
        <div class="col-6 objectives">
           <h1>OUR OBJECTIVES</h1>
           <p>Stabilising the freelance industry</p>
           <p>Creating opportunities that drive both personal and industry growth</p>
           <p>Providing professional and reliable services</p>
           <p>Developing a creative community that celebrates productivity and progress</p>
           <p>Assist Bisiness growth by maximisimg their marketing collateral</p>
        </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-6 objectives">
                <h1>TRACK YOUR PROJECTS, GET NOTIFIED ON PROGRESS AND RATE YOUR OVERALL EXPERIENCE</h1>
            </div>
            <div class="col-6">
                <img class="img-fluid objectives1-img" src="stylesheets/imgs/laptop.png">
            </div>
        </div>
    </section>


<div class="about">
    <section class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid objectives-img" src="https://images.unsplash.com/photo-1532288744908-b37abee2ed71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="col-6 services">
               <h1>SERVICES THAT WE PROVIDE</h1>
               <p>ONSITE AND REMOTE PROJECT</p>
               <p>PHOTOGRAPHY</p>
               <p>VIDEOGRAPHY</p>
               <p>GRAPHIC DESIGN</p>
               <p>CONTENT CREATION</p>
               <p>COPY WRITING</p>
               <p>MARKETING MANAGEMENT</p>
               <p>EMAIL MARKETING</p>
               <p>WEB DEVELOPMENT</p>
               <p>STUDIO BOOKING</p>
               <p>ONLINE ART GALLERY</p>
               <p>PRINTING</p>
            </div>
        </div>
    
        
    </section>
</div>

<%- include ("partials/footer") %>