<!DOCTYPE html>
    <html>
        <head>
            <title>WorkBitApp</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/landing.css">
            <script src="https://kit.fontawesome.com/9a637f428a.js" crossorigin="anonymous"></script>
            <script src="/stylesheets/main.js"></script>
        </head>
        <body>

            <div id="navbar" class="bottom">
                <div class="navbar-align">
                    <a href="/">Home</a>
                    <a href="/services">Our Services</a>
                    <a href="/about">About</a>
                    <a href="">Contact</a>
                </div>
            </div>
              
            <div class="landing--container">
                <img src='https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80'>
                <div class="landing--title">
                    <p>WorkBit.app</p>
                    <h1>Freelancers of the future</h1>
                    <a href="/pricing">
                    <button type="button" class="btn primary-btn">Get started</button>
                    </a>
                    <div class="landing--line"></div>
                </div>
            </div>
              
            <div class="intro container">
            <section>
                <div class="content">
                    <h1>INTRODUCING WORKBIT.APP</h1>
                    <p>WorkBit.app is a Web-based Digital Agency, Service Provider and Creative Workforce.</p>
                    <p>The concept behind freespace is to utilize standardised freelancing for both the freelancer and for the client.</p>
                    <p>This is achieved by putting together strandarised packages and costs, the handlng of payment to ensure that freelancers 
                        are paid for their work timely; and putting the money into the hands of creatives by cutting out the corporate 
                        agency bullshit.</p>
                       <a href="/about"><button href="/about" class="primary-btn">Find out how it works</button></a> 
                </div>
            </section>
        </div>
              <section class="color-top">
                    <div class="container-fluid">
                    <div class="pricing container">
                        <div class="row">
                            <div class="col-sm-4">
                                 <div class="card text-center">
                                    <div class="title">
                                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        <h2>Pride</h2>
                                    </div>
                                    <div class="price">
                                        <h4><sup>$</sup>25</h4>
                                    </div>
                                    <div class="option">
                                        <ul>
                                            <li> <i class="fa fa-check" aria-hidden="true"></i> 10 GB Space </li>
                                            <li> <i class="fa fa-check" aria-hidden="true"></i> 3 Domain Names </li>
                                            <li> <i class="fa fa-check" aria-hidden="true"></i> 20 Email Address </li>
                                            <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                                        </ul>
                                </div>
                                <a href="/register">Sign Up </a>
                            </div>
                        </div>
                        <!-- END Col one -->
                        <div class="col-sm-4">
                            <div class="card text-center">
                                <div class="title">
                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                <h2>Gold</h2>
                            </div>
                            <div class="price">
                                <h4><sup>$</sup>50</h4>
                            </div>
                            <div class="option">
                                <ul>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> 50 GB Space </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> 5 Domain Names </li>
                                    <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                                    <li> <i class="fa fa-times" aria-hidden="true"></i> Live Support </li>
                                    </ul>
                            </div>
                                <a href="/register">Sign Up </a>
                        </div>
                    </div>
      <!-- END Col two -->
                        <div class="col-sm-4">
                            <div class="card text-center">
                            <div class="title">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                                <h2>Platinum</h2>
                            </div>
                            <div class="price">
                                <h4><sup>$</sup>100</h4>
                            </div>
                            <div class="option">
                                <ul>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited GB Space </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> 30 Domain Names </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Unlimited Email Address </li>
                                <li> <i class="fa fa-check" aria-hidden="true"></i> Live Support </li>
                                </ul>
                            </div>
                            <a href="/register">Sign Up </a>
                            </div>
                        </div>
                        <!-- END Col three -->
                        </div>
                    </div>
                    </div>
            </section>
              
            <footer>
                <div class="footer--social">
                    <a href="https://instagram.com/julieparkim" target="_blank"><i class="fab fa-instagram" style="font-size: 1.2em"></i></a>
                    <a href="https://twitter.com/juliepark" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="far fa-envelope"></i></a>
                </div>
                <div class="footer--bottom">
                    <p class="footer--text">©copyright WorkBit.app 
                        | All rights reserved 
                        | Website design &amp; development by <a href="#" target="_blank">Leo muza</a></p>
                </div>
              </footer>


        </body>
     </html>