<!DOCTYPE html>
    <html>
        <head>
            <title>WorkBitApp</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/landing.css">
            <script src="https://kit.fontawesome.com/9a637f428a.js" crossorigin="anonymous"></script>
            <script src="/stylesheets/main.js"></script>
        </head>
        <body>

            <div id="navbar" class="bottom">
                <a href="/about">About</a>
                <a href="">Menu</a>
                <a href="">Locations</a>
                <a href="">Contact</a>
            </div>
              
            <div class="landing--container">
                <div class="landing--title">
                    <p>WorkBit.app</p>
                    <h1>Freelancers of the future</h1>
                    <a href="/pricing">
                    <button type="button" class="btn primary-btn">Get started</button>
                    </a>
                    <div class="landing--line"></div>
                </div>
            </div>
              
            <div class="container">
            <section>
                <div class="content">
                    <h1>INTRODUCING WORKBIT.APP</h1>
                    <p>WorkBit.app is a Web-based Digital Agency, Service Provider and Creative Workforce.</p>
                    <p>The concept behind freespace is to utilize standardised freelancing for both the freelancer and for the client.</p>
                    <p>This is achieved by putting together strandarised packages and costs, the handlng of payment to ensure that freelancers 
                        are paid for their work timely; and putting the money into the hands of creatives by cutting out the corporate 
                        agency bullshit.</p>
                       <a href="/about"><button href="/about" class="primary-btn">Find out how it works</button></a> 
                </div>
            </section>
        </div>
              <section class="color-top">
                  <img src="./images/who.png">
            </section>
              
            <footer>
                <div class="footer--social">
                    <a href="https://instagram.com/julieparkim" target="_blank"><i class="fab fa-instagram" style="font-size: 1.2em"></i></a>
                    <a href="https://twitter.com/juliepark" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="far fa-envelope"></i></a>
                </div>
                <div class="footer--bottom">
                    <p class="footer--text">©copyright WorkBit.app 
                        | All rights reserved 
                        | Website design &amp; development by <a href="#" target="_blank">Leo muza</a></p>
                </div>
              </footer>


        </body>
     </html>