<!DOCTYPE html>
    <html>
        <head>
            <title>WorkBitApp</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/landing.css">
            <script src="https://kit.fontawesome.com/9a637f428a.js" crossorigin="anonymous"></script>
            <script src="/stylesheets/main.js"></script>
        </head>
        <body>

            <div id="navbar" class="bottom">
                <a href="">About</a>
                <a href="">Menu</a>
                <a href="">Locations</a>
                <a href="">Contact</a>
            </div>
              
            <div class="landing--container">
                <div class="landing--title">
                    <p>it's always</p>
                    <h1>coffee o'clock.</h1>
                    <button class="primary-btn">get your daily brew</button>
                    <div class="landing--line"></div>
                </div>
            </div>
              
            <section>
                <div class="content">
                  
                </div>
            </section>
              <section class="color-bg">
              </section>
              
            <footer>
                <div class="footer--social">
                    <a href="https://instagram.com/julieparkim" target="_blank"><i class="fab fa-instagram" style="font-size: 1.2em"></i></a>
                    <a href="https://twitter.com/juliepark" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="far fa-envelope"></i></a>
                </div>
                <div class="footer--bottom">
                    <p class="footer--text">©copyright Julie Park | All rights reserved | Website design &amp; development by <a href="https://juliepark.me" target="_blank">Julie Park</a></p>
                </div>
              </footer>


        </body>
     </html>