<%- include ("partials/header") %>

<div class='services'>

<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <a href="/services/photography">
            <h2>Photography</h2>
            </a>
        </div>
        <div class="col-6">
            <div class='photography-img'>
            <a href="/services/photography">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1516724562728-afc824a36e84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80">
            </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class='graphic-design-img'>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1498721425774-488298864da7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
            </div>
        </div>
        <div class="col-6">
            <h2>Graphic Design</h2>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Content Creation</h2>
        </div>
        <div class="col-6">
            <div class='photography-img'>
                <img class="img-fluid" src="https://images.unsplash.com/photo-1550777006-9ee6c430227d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
                </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class='graphic-design-img'>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
            </div>
        </div>
        <div class="col-6">
            <h2>Web Design</h2>
        </div>
    </div>
</section>

</div>

<%- include ("partials/footer") %>
