<%- include ('partials/header') %>

<form style='margin-top: 5%;' action='/login' method='POST'>
  <input placeholder="username">
  <input placeholder="password">
</form>
<%- include ('partials/footer') %>