<%- include ('partials/header') %>

<div class='signIn'>


<form action="/login" method="POST">
  <div class='signInContent'>
    <h3 id='signInHeader'>Sign Into Your Account</h3>
      <div class='signInInputs'>
        <input class='signInInput' type='text' name='username' placeholder="Username">
        <input class='signInInput' type='password' name='password' placeholder="Password">
      </div>
      <div class='signInInputs'>
      <button class='btn btn-light btn-sm' id='freelancerSignUpButton'>Sign In!</button>
      </div>
  </div>
</form> 

</div>

<%- include ('partials/footer') %>