<%- include ('../partials/header') %>

<div class='business'>



  <div class="general-container">
    <input class="radio" type="radio" name="card" id="card-1" checked />
    <label class="content" for="card-1">
      <span class="icon">
        <i class="fas fa-battery-quarter"></i>
      </span>
      <h3 class="card-title">
        <a href='/business/pride'>Pride</a>
        <!-- <span class="subtitle">@hed</span> -->
      </h3>

      <h4 class='pride'>Perfect for Smme's who are looking to outsource their marketing activities</h4>
      <h4 id='prideRenderedServices' class='prideServices'>Basic Services rendered:</h4>
      <h4 class='prideServices'>Branding</h4>
      <h4 class='prideServices'>Marketing plan</h4>
      <h4 class='prideServices'>Presentations</h4>
      <h4 class='prideServices'>Flyers</h4>
      <h4 class='prideServices'>Website</h4>
    </label>


    <input class="radio" type="radio" name="card" id="card-2" />
    <label class="content" for="card-2">
      <span class="icon">
        <i class="fas fa-battery-half"></i>
      </span>
      <h3 class="card-title">
        <a href='/business/gold'>Gold</a>
      </h3>


      <h4 class='gold'>Perfect for your business distrubution needs
      <h4 class='gold1'>Tool for driving media engagement</h4> 
      <h4 id='goldRenderedServices' class='goldServices'>Services rendered:</h4>
      <h4 class='goldServices'>Videography</h4>
      <h4 class='goldServices'>Graphic Design</h4>
      <h4 class='goldServices'>Illustrations</h4>
      <h4 class='goldServices'>Influencer Marketing</h4>
      <h4 class='goldServices'>Blogging</h4>
    </label>


    <input class="radio" type="radio" name="card" id="card-3" />
    <label class="content" for="card-3">
      <span class="icon">
        <i class="fas fa-battery-three-quarters"></i>
      </span>
      <h3 class="card-title">
        <a href='/business/platinum'>Platinum</a>
      </h3>


      <h4 class='platinum'>Pay as you go service</h4> 
      <h4 class='platinum'>Make a financial commitment and redeem value everytime you use the platform</h4>
      <h4 class='platinum'>Perfect for companies with long payment periods and yearly financial planning</h4>
      <h4 class='platinum'>Purchase orders are applicable with unused funds available to the client</h4>


    </label>
    <input class="radio" type="radio" name="card" id="card-4" />
    <label class="content" for="card-4">
      <span class="icon">
        <i class="fas fa-battery-full"></i>
      </span>
      <h3 class="card-title">
        <a href='/business/retainer'>Retainer</a>
      </h3>

      <h4 class='retainer'>make a financial commitment and redeem value anytime you use the platform</h4>
      <h4 class='retainer'> Perfect for companies with long term payment periods and yearly financial planning</h4>
      <h4 class='retainer'> Purchase orders are applicable with unused funds available to client</h4>
    </label>
    
  </div>

</div>

<%- include ('../partials/footer') %>