/* Navbar */

#navbar {
  background: #000;
  opacity: 100%;
  width: 100%;
  height: 20px;
  padding: 35px 45px;
  overflow: hidden;
  text-align: center;
  z-index: 3;
}

.navbar-align{
  margin-left: 11%;
}

a {
  color: #B2967D;
  text-decoration: none;
}


.bottom a{
  font-family: Roboto;
  letter-spacing: 3px;
  font-size: 0.7em;
  padding-right: 10%;
  text-transform: uppercase;
}

.bottom {
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin: -8px;
}



/* Packages Page */

.packages {
background: #000;
}

.packages .container-fluid{
  height: 650px;
}


.packages .column::after {
	content: '';
	clear: both;
  display: block;
}

.packages .column div {
	position: relative;
	float: left;
	width: 400px;
	height: 300px;
	margin: 0 0 0 40px;
  padding: 0;
}

.packages .column div:first-child {
	margin-left: 2;
}

.packages .column div button {
  color: #fff;
	position: sticky;
	bottom: -20px;
	left: 1px;
	z-index: 1;
  display: block;
  width: 32%;
	margin-left: 33%;
	padding-left: 3%;
	font-size: 18px;
	text-decoration: none;
	-webkit-transition: .7s ease-in-out;
	transition: .7s ease-in-out;
	opacity: 0;
}



.packages a{
  text-decoration: none;
}


.packages figure {
  margin: 0 0 5%;
}

.packages figure:hover+button {
	bottom: -50%;
  opacity: 1;
}

.packages .column div button:hover{
  color: #000;
  opacity: 1;
  background: #fff;
}

.packages .hover figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  width: 100%;
  height: 80%;
  margin-top: 37%;
}

.packages .hover figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}




/* business Packages */

.business{
  margin-top: 7%;
}
  
  .general-container {
    display: flex;
    height: 30rem;
    margin: 0 auto;
    max-width: 100%;
    width: 70rem;
  }

  .radio {
    display: none;
  }
  
  .content {
    background: var(--white)
      url('http://wallpapercrafter.com/desktop/227738-a-single-orange-lego-piece_infinite-possibilities.jpg')
      100% / cover no-repeat;
    border-radius: 3rem;
    cursor: pointer;
    flex: 1;
    margin-right: 0.8rem;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    display: grid;
    align-items: center;
  }

  .content:hover {
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  }

  .icon {
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    bottom: 1rem;
    color: var(--golden-tainoi);
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    left: 1.1rem;
    position: absolute;
    width: 2.5rem;
  }

  .content:nth-of-type(2) {
    background-image: url('https://www.vhv.rs/dpng/d/333-3338190_transparent-background-lego-blocks-hd-png-download.png');
  }
  
  .content:nth-of-type(3) {
    background-image: url('https://www.pngfind.com/pngs/m/679-6798531_transparent-lego-block-png-lego-blocks-transparent-background.png');
  }
  
  .content:nth-of-type(4) {
    background-image: url('https://pngimage.net/wp-content/uploads/2018/06/legos-png-5.png');
  }
  
 

  .content:nth-of-type(2) .icon {
    color: var(--dark-gray);
  }

  .content:nth-of-type(3) .icon {
    color: var(--dark-blue);
  }
  
  .content:nth-of-type(4) .icon {
    color: var(--gray);
  }
  
  .content:nth-of-type(5) .icon {
    color: var(--golden);
  }

  .card-title {
    bottom: 0.5rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    left: 4.5rem;
    line-height: 1.1;
    opacity: 0;
    position: absolute;
    text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    transform: translateX(2rem);
    transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
    transition-property: opacity, transform;
    user-select: none;
    white-space: nowrap;
  }

  .business h4{
    text-align: center;
    opacity: 0;
    color: #fff;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .radio:checked + .content {
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
    flex: 10;
  }

  .radio:checked + .content > .card-title{
    opacity: 1;
    transform: translateX(0);
  }

  .radio:checked + .content > .info{
    opacity: 1;
    transform: translateX(0);
  }

  .business a{
    text-decoration: none;
    color: red;
  }





  /* register forms */

  .pride-register .container{
    display: flex;
    height: 550px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-top: 3%;
    padding: 0;
    background: #000;
  }

  .pride-register .img-fluid{
    object-fit: contain;
    width: 38%;
    margin-top: 9%;
  }

  .pride-register h4{
    color: #B2967D;
    margin-left: 4%;
  }

  .pride-register input{
    margin-top: 4%;
    display: block;
    margin-left: 4%;
  }

  .first-form{
    display: inline-flex;
  }

  .business-name {
    display: block;
    margin-left: 4%;
    margin-top: 6%;
  }

  .business-type{
    display: block;
    margin-left: 30%;
    margin-top: 6%;
  }

  .business-email{
    display: block ruby;
    margin-left: 4%;
    margin-top: 6%;
  }
  
  .payment-method h3{
    color: #fff;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: -1%;
  }

  .payment-method .radio{
    display: block ruby;
    margin-bottom: -4%;
  }

  .payment-method .radio p{
    color: #fff;
    margin-left: 2%;
  }

  #card-owner{
    margin-left: 33%;
    margin-top: 0%;
  }

  #card-number{
    margin-left: 26%;
  }

  #expiry-date{
    margin-left: 31%;
  }
  
  #security-number{
    margin-left: 28%;
  }

  .pride-register .img-overlay p{
    margin-bottom: 1rem;
    color: white;
    font-size: 2em;
    margin-left: -8em;
    margin-top: 1em;
  }

  /* freelancer page */


  .modal{
    /* display: block; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
  }

   .modal-content{
    background-color: #000;
    opacity: 80%;
    border: 1px solid aliceblue;
    margin: 20% auto;
    padding: 20px;
    width: 31%;
    height: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
  }

  .modal-header{
    display: block ruby;
    color: aliceblue;
  }

  /* Freelancer sign up first name  */

  .first-name{
   border: none;
   background: transparent;
   border-bottom: 1px solid #9e9e9e;
   height: 3em;
   width: 100%;
   color: aliceblue;
   margin-top: 3%;
  }

  .firstName{
    color: aliceblue;
    position: absolute;
    top: 2.5em;
    left: 1.5em;
    font-size: 1rem;
    cursor: text;
    transition: 0.2s ease-out;
  }

  .signUpTransform{
    color: #26a69a;
    position: absolute;
    left: 2.5em;
    top: 1.5em;
    font-size: 0.8em;
  }

  /* Last name sign up for freelancers */

  .last-name{
    border: none;
    background: transparent;
    border-bottom: 1px solid #9e9e9e;
    height: 3em;
    width: 100%;
    color: aliceblue;
    margin-top: 3%;
   }
 
   .lastName{
     color: aliceblue;
     position: absolute;
     top: 2.5em;
     left: 1.5em;
     font-size: 1rem;
     cursor: text;
     transition: 0.2s ease-out;
   }

   .signUpTransform{
    color: #26a69a;
    position: absolute;
    left: 2.5em;
    top: 1.5em;
    font-size: 0.8em;
  }

  /* Freelancer signup Email  */

  .email{
    border: none;
    background: transparent;
    border-bottom: 1px solid #9e9e9e;
    height: 3em;
    width: 100%;
    color: aliceblue;
    margin-top: 3%;
   }
 
   .e-mail{
     color: aliceblue;
     position: absolute;
     top: 2.5em;
     left: 1.5em;
     font-size: 1rem;
     cursor: text;
     transition: 0.2s ease-out;
   }

   .signUpTransform{
    color: #26a69a;
    position: absolute;
    left: 2.5em;
    top: 1.5em;
    font-size: 0.8em;
  }

  /* Freelancer password Input change  */

  .password{
    border: none;
    background: transparent;
    border-bottom: 1px solid #9e9e9e;
    height: 3em;
    width: 100%;
    color: aliceblue;
    margin-top: 3%;
   }
 
   .pass-word{
     color: aliceblue;
     position: absolute;
     top: 2.5em;
     left: 1.5em;
     font-size: 1rem;
     cursor: text;
     transition: 0.2s ease-out;
   }

   .signUpTransform{
    color: #26a69a;
    position: absolute;
    left: 2.5em;
    top: 1.5em;
    font-size: 0.8em;
  }
 
 


  .freelancer h6{
    color: aliceblue;
  }

  .modal-footer{
    margin: auto;
  }

 .closeBtn{
    color: #ccc;
    margin-left: 4%;
    font-size: 25px;
  }

  .closeBtn:hover,.closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
  }


  .freelancer {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/10/06/24/batteries-2619017_960_720.jpg");
    height: 48em;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
    /* filter: brightness(50%) */
    }

    #modalBtn{
      margin-top: 50%;
      margin-left: 46%;
      background: #000;
      color: #fff;
      border: 1px solid #fff;
    }


    /* profile page  */

    .profile-page{
      background-color: #000;
    }

    .profile-page .container-fluid{
      background-image: url(https://images.unsplash.com/photo-1594624198301-bf7dcc271fd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
      background-repeat: no-repeat;
      background-size: cover;
      image-orientation: initial;
      height: 14em;
      background-position: center;
    }

     .profile-page .card{
      width: 21rem;
      margin-top: -10%;
      margin-left: 6%;
    }

    .profile-page .card-body{
      z-index: 1;
      display: grid;
      align-content: center;
    }

    .user-icon{
      width: 122px;
      height: 122px;
      border-radius: 50%;
      margin-left: 28%;
      margin-bottom: 7%;
      object-fit: cover;
    }

    .profile-card-title{
      text-align: center;
    }

    .profile-card-job-description{
      margin-left: 16%;
    }

    .profile-card-residence{
      margin-top: 2%;
      margin-left: 15%;
      color: #bdc1c7;
    }

    .profile-card-bio{
      text-align: center;
      margin-top: 2%;
      font-size: 0.8em;
    }

    .profile-card-website{
      text-align: center;
      text-decoration: none;
    }

    .profile-card-insta{
      text-align: center;
    }

    .profile-page .projects{
      text-align: center;
      margin-top: -20%;
      width: 61%;
      margin-left: 29em;
    }

    .projects img{
      width: 100%;
      margin: 2%;
      height: 19em;
      border-radius: 2%;
    }

    .projects h5{
      text-decoration: underline;
      text-align: left;
      margin-left: 2%;
      color: #fff;
    }

    .projects .text{
      position: absolute;
      margin-top: -16%;
      margin-left: 4%;
      color: aliceblue;   
      opacity: 0;
    }

    .col-lg-6:hover p{
      opacity: 70%;
      background: #000;
    }









  



  


  
 
  /* Services Page */

  .services .photography-img img{
    max-width: 110%;
    margin-left: -5%;
  }

  .services .graphic-design-img{
    margin-left: -13%;
  }

  .container-fluid .row{
    align-items: center;
  }

  .container-fluid h2{
    text-align: center;;
  }




  /* Photography portfolio */




/* Photography portfolio */

.photography{
  background: #000;
  height: auto;
}

.photography .row{
margin-left: 48px;
margin-right: 0;
}

.photography .box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 5% auto;
}

.photography .card{
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  margin: 5% auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.photography .card:before, .card:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: 0;
}

.photography .card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.photography .card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.photography .card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 2;
}

.photography .card:hover .imgBx {
  bottom: 100px;
}

.photography .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photography .card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 83px;
    text-align: center;
    z-index: 1;
}

 .photography .card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

 .photography .card .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 

 .photography p{
   color: #575056;;
   margin-top: 2%;
   font-size: 12px;
 }





/* About page */

.about{
  background: #000;
}

.about-intro{
  margin-top: -18%;
}

.about-intro2{
  margin-top: -25%;
}

.about-intro3{
  margin-top: 8%;
}

.objectives-img3{
  margin-left: 6%;
}

.objectives1-img{
  margin-top: 5%;
  /* margin-left: 5%; */
}

.objectives h1{
  color: #fff;
  margin-top: 10%;
  margin-left: 8%;
}

.objectives p{
  color: #fff;
  text-transform: uppercase;
  margin: 8%;
  margin-top: 13%;
}

.services h1{
  color: #fff;
}

.services p{
  color: #fff;
  margin-left: 2%;
  margin-top: 3%;
  display: inline-block;
}



