<%- include ('../partials/header') %>

<form action="/freelancer/:id/profile/project" method='POST'>
  <div class='addProjectInputForm'>
    <input type="text" name='projectTitle' placeholder='Project Title'>
    <input type="text" name='projectDateAdded' placeholder='Date Added'>
    <button>Submit!</button>
  </div>
</form>

<%- include ('../partials/footer') %>