<%- include ('../partials/header') %>

<div class='addProject'>


  <form action="/freelancer/<%= freelancer._id %>/profile/addProject" method="POST">
    <div class='addProjectContent'>
      <h3 id='addProjectHeader'>Create a new Project</h3>
        <div class='addProjectInputs'>
          <input class='addProjectInput' type='text' name='project[title]' placeholder="Project title">
          <input class='addProjectInput' type='text' name='project[date]' placeholder="Date">
        </div>
        <div class='addProjectInputs'>
          <label for="files"></label>
          <input class='addProjectInput' type='file' id='inpFile' name='project[image]'>
          <div class="image-preview" id='imagePreview'>
            <img src="" alt="image-preview" class="image-preview__image">
            <span class="image-preview__default-text">Image preview</span>
          </div>
          <!-- <input class='addProjectInput' type='text' name='project[image1]' placeholder="image"> -->
          <!-- <input class='addProjectInput' type='text' name='project[location]' placeholder="location"> -->
        </div>
        <div class='addProjectInputs'>
        <button class='btn btn-light btn-sm' id='freelancerSignUpButton'>Create!</button>
        </div>
    </div>
  </form> 
  
  </div>

<!-- <form action="/freelancer/<%= freelancer._id %>/profile/project" method='POST'>
  <div class='addProjectInputForm'>
    <input type="text" name='project[title]' placeholder='Project Title'>
    <input type="text" name='project[date]' placeholder='Date Added'>
    <input type="text"  name='project[image]' placeholder='image'>
    <Button id='submit'>Submit</Button>
  </div>
</form> -->


<%- include ('../partials/footer') %>