<%- include ('../partials/header') %>

<form action="/freelancer/<%= freelancer._id %>/profile/project" method='POST'>
  <div class='addProjectInputForm'>
    <input type="text" name='project[title]' placeholder='Project Title'>
    <input type="text" name='project[date]' placeholder='Date Added'>
    <button>Submit!</button>
  </div>
</form>

<%- include ('../partials/footer') %>