<%- include ('../partials/header') %>

<form action="/freelancer/<%= freelancer._id %>/profile/project" method='POST'>
  <div class='addProjectInputForm'>
    <input type="text" name='project[title]' placeholder='Project Title'>
    <input type="text" name='project[date]' placeholder='Date Added'>
    <input type="file"  name='project[image]' placeholder='image'>
    <Button id='submit'>Submit</Button>
  </div>
</form>

<%- include ('../partials/footer') %>