<%- include ('../partials/header') %>

<!-- Modal  -->

<div class='createProfile'>


  <div id='welcomeModal'>
    <div class="welcomeModal-content">
      <div class="welcomeModal-body">
        <h1>Welcome to the Family!</h1>
        <h6 class='modal-subtitle'>Let's get started on your profile</h6>
      </div>
        <div class='modal-footer'>
           <button id='create-profile-button'>Create Profile</button>
        </div>
    </div>
  </div>



  <form action='/freelancer/:id/createprofile' method='post'>
  <div id='createProfileContent'>
    <h3 id='createProfileTitle'>Tell us a bit about yourself</h3>
    <div class='createProfileInputs'>
      <!-- <input class='createProfileInput' type='text' name='industry' placeholder='Job industry'> -->
      <select class='createProfileInput' name="industry" id="industry">
      <option id='profession-select' value="">What is your profession</option>
      <option value="Photographer">Photographer</option>
      <option value="Graphic Designer">Graphic Designer</option>
      <option value="Content Creator">Content Creator</option>
      <option value="Web Designer">Web Designer</option>
  </select>
      <input class='createProfileInput' type='text' name='location' placeholder='Where are you based?'>
    </div>

    <div class='createProfileInputs'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='What is your specialty?'>
      <input class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='Add a profile picture'>
    </div>

    <div class='createProfileInputs'>
      <input class='createProfileInput' type='text' name='link1' placeholder='personal website/linkedIn'>
      <input class='createProfileInput' type='text' name='link2' placeholder='instagram/facebook'>
    </div>

    <div class='createProfileInputs'>
      <textarea class='createProfileInput' id='createProfileAboutYou' type='text' name='about' placeholder='Tell us about you'></textarea>
      <textarea class='createProfileInput' id='createProfileTools' type='text' name='tools' placeholder='What are some of the tools that you use?'></textarea>
    </div>

    <div class='freelancerExtraInputs'>
    <a href='/'><button class='btn btn-light btn-sm'>Sign Up!</button></a>
  </div>

  </div>
</form>




</div>




<%- include ('../partials/footer') %>