<%- include ('../partials/header') %>

<!-- Modal  -->

<div class='createProfile'>


  <div id='welcomeModal'>
    <div class="welcomeModal-content">
      <div class="welcomeModal-body">
        <h1>Welcome to the Family!</h1>
        <h6>Let's get started on your profile</h6>
      </div>
        <div class='modal-footer'>
           <button id='create-profile-button'>Create Profile</button>
        </div>
    </div>
  </div>



  <form action='/freelancer/:id/createprofile' method='post'>
  <div id='createProfileContent'>
    <h3 id='createProfileTitle'>Tell us a bit about yourself</h3>
    <div class='createProfileInputs'>
      <input class='createProfileInput' type='text' name='industry' placeholder='Job industry'>
      <input class='createProfileInput' type='text' name='location' placeholder='Location'>
    </div>
    <div class='createProfileInputs'>
      <input class='createProfileInput' type='text' name='website' placeholder='Website link'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='specialty'>
    </div>
    <div class='createProfileInputs'>
      <textarea class='createProfileInput' id='createProfileAboutYou' type='text' name='about' placeholder='About you'></textarea>
      <input class='createProfileInput' type='text' name='picture' placeholder='picture'>
    </div>
    <a href='/'><button>Sign Up!</button></a>
  </div>
</form>




</div>




<%- include ('../partials/footer') %>