<%- include('../partials/header') %>

<div class='editProfile'>


  <form action='/freelancer/:id/createprofile' method='post'>
  <div id='editProfile'>
    <h3 id='editProfileTitle'>Update your profile</h3>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='Name'>
      <input class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='Surname'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='location'>
      <input class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='picture'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='industry'>
      <input class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='specialty'>
    </div>

    <div class='editProfileInputs'>
      <input class='createProfileInput' type='text' name='specialty' placeholder='Website'>
      <input class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='instagram'>
    </div>

    <div class='editProfileInputs'>
      <textarea class='createProfileInput' type='text' name='specialty' placeholder='Name'></textarea>
      <textarea class='createProfileInput' id='profilePic' type='text' name='picture' placeholder='Surname'></textarea>
    </div>





    <div class='freelancerExtraInputs'>
    <a href='/'><button class='btn btn-light btn-sm'>Sign Up!</button></a>
  </div>

  </div>
</form>




</div>

<%- include('../partials/footer') %>