<%- include ('../partials/header')  %>

<!-- <div class='freelancerSignUp'>

  <form action="/freelancer" method="post">
  <div class='freelancerSignUpContent'>
    <h3 id='freelancerSignUpHeader'>Sign Up as a Freelancer</h3>
      <div class='freelancerInputs'>
        <input class='freelancerInput' type='text' name='Name' placeholder="First Name">
        <input class='freelancerInput' type='text' name='Surname' placeholder="Last Name">
      </div>
      <div class='freelancerInputs'>
        <input class='freelancerInput' type='text' name='username' placeholder="Email">
        <input class='freelancerInput' type='password' name='password' placeholder="Password">
      </div>
      </form>
      <div class='freelancerInputs'>
         <a href='/freelancer/:id/createprofile'></a> <button class='btn btn-light btn-sm' id='freelancerSignUpButton'>Sign Up!</button>
          </a>
      </div>
  </div>

</div> -->

<div class='pride-register'>
  <img  id='pride-image' src="https://steamuserimages-a.akamaihd.net/ugc/498028597174109429/682A125E7068573AA178B126A7CCD1C60A2088C5/" alt="">

  <form action='/business/gold' method='post'>
    <div class="pride-content">
      <h2 id=pride-title>Interested in our Freelancer Package?</h2>
      <p id='pride-subtitle'>Downlaod our presentation and sign up to stay up to date with our developments</p>
      <div id='pride-btn'>
        <button  class='btn btn-light btn-sm'>Sign up</button>
      </div>
    </div>
  </form>

  
  </div>



<%- include ('../partials/footer')  %>